<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haru.test" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:name="com.haru.test.App"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.haru.test.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".UserActivity"
            android:label="Current user" />

        <activity android:name="com.haru.ui.login.LoginActivity" />


        <activity android:label="Manage Entity"
            android:name="com.haru.test.EntityActivity" />

        <activity android:label="FAQ"
            android:name="com.haru.test.HelpCenterFaqActivity" />

        <activity android:label="Notices"
            android:name="com.haru.test.HelpCenterNoticeActivity" />

        <activity android:label="Push Loss Test"
            android:name="com.haru.test.PushLossTestActivity" />

        <service android:name="com.haru.push.push.PushService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".TestPushReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="com.haru.push.RECEIVED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.kakao.LoginActivity"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="com.facebook.LoginActivity"/>

        <activity android:name="com.haru.ui.helpcenter.HelpCenterActivity" />

        <!-- 3 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

    </application>

</manifest>
